### __Problem Statement :__

> Good morning!
> You can find the solution to the previous problem here: [Get the solution!](https://datascienceprep.com/solution/145?token=12a7bd77e8ef8a56d458e91d5257c014c80ce1bccb8db167e3c1198fe4dfb959b23c89f59aef68c87fef8b8aeb07dad201c448f97454e9a1cb941dc6d428f7e1c75d81388a8640e880)

__Here's today's problem :__

This problem was asked by Stitch Fix.

Assume you are given the below table on transactions from users. Write a query to get the number of users and total products bought per latest transaction date where each user is bucketed into their latest transaction date.

<center>
    
<table>
    <thead>
        <tc>
            <th><b>user_transactions</b></th>
        </tc>
    </thead>
    <tbody>
        <tr>
            <td><b>column_name</b></td>
            <td><b>type</b></td>
        </tr>
        <tr>
            <td>transaction_id</td>
            <td>integer</td>
        </tr>
        <tr>
            <td>product_id</td>
            <td>integer</td>
        </tr>
        <tr>
            <td>user_id</td>
            <td>integer</td>
        </tr>
        <tr>
            <td>spend</td>
            <td>float</td>
        </tr>
        <tr>
            <td>transaction_date</td>
            <td>integer</td>
        </tr>
    </tbody>
</table>
    
</center>

### __Solution :__

First, we need to get the latest transaction date for each user, along with the number of products they have purchased. This can be done in a subquery where we GROUP BY user_id and take a COUNT(DISTINCT product_id) to get the number of products they have purchased, and a MAX(transaction_date::date) to get the latest transaction date (while casting to a date). Then, using this subquery, we can simply do an aggregation by the transaction date column in the previous subquery, while doing a COUNT() on the number of users, and a SUM() on the number of products:

```
WITH latest_date AS (
    SELECT user_id,
        COUNT(DISTINCT product_id) AS num_products,
        MAX(transaction_date::DATE) AS latest_date
    FROM user_transactions
    GROUP BY )

SELECT latest_date,
    COUNT(user_id) AS num_users,
    SUM(num_products) AS total_products
FROM
latest_date
GROUP BY 1
```

In [15]:
def max_common_sub(arrA, arrB):
    return len(set(arrA).intersection(set(arrB)))

In [17]:
arrA = [1, 3, 5, 6, 7]
arrB = [2, 4, 3, 5, 6]
print(max_common_sub(arrA, arrB))

3